header {
    overflow: hidden;
    background-color: #EEE4E1;
}

#top-header{
    text-align: center;
    height: 60px;
}

#logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}

#logo img{
    width: 60%;
    text-align: center;
    float: left;
    padding: 10px 0px;
}

#menu{
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}

#menu ul{
    text-align: center;
    float: right;
    margin: none;
}

#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}

#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}

#menu li a{
    color: #B2967D;
}

#menu li:hover a, #menu li span{
    color: #e6beae;
    border-left: 1px solid #e6beae;
    text-decoration: none;
}